<ion-content fullscreen="true">
  <div class="content">
    <div class="slot">
      <img src="../../assets/images/simbolo.png" class="simbolo">
      <img src="../../assets/images/logotipo.png" class="logotipo">
      <form (ngSubmit)="submit()" [formGroup]="loginForm">
        <ion-input type="text" formControlName="username" label="Username" label-placement="floating" fill="outline"
          placeholder="Informe seu username" errorText="É necessário informar seu nome de usuário"></ion-input>
        <ion-input type="password" formControlName="password" label="Senha" label-placement="floating" fill="outline"
          placeholder="Informe sua senha" errorText="É necessário informar sua senha"></ion-input>
        <ion-button type="submit" expand="block">Entrar</ion-button>
      </form>
      <p class="my-4">Esqueci minha senha</p>
    </div>
  </div>
</ion-content>
