<ion-header mode="ios" collapse="fade" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/musicas"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="song" (click)="syncFavorite()">
        <ion-icon slot="icon-only" [name]="isFavorite ? 'star' : 'star-outline'"
          [color]="isFavorite ? 'secondary' : 'medium'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">songs-show</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
  <div *ngIf="song">
    <div class="flex items-end gap-2">
      <div class="pr-2 border-r-2 border-yellow-500 text-gray-500 text-2xl">
        {{ song.number }}
      </div>
      <div class="grow border-yellow-500">
        <h1 class="m-0 font-semibold">
          {{ song.title }}
        </h1>
      </div>
    </div>
    <div class="my-4 flex flex-wrap gap-1">
      <ion-badge *ngFor="let category of categories" color="medium">{{ category.name }}</ion-badge>
    </div>
    <div [innerHTML]="song.lyrics" class="lyrics"></div>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="song && audio" class="mx-4 my-2">
    <audio controls preload="none" class="w-full">
      <source [src]="songUrl" type="audio/ogg">
      <source [src]="songUrl" type="audio/mpeg">
      Erro ao carregar player de áudio.
    </audio>
  </div>
</ion-footer>
