<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/musicas"></ion-back-button>
    </ion-buttons>
    <ion-title>songs-show</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">songs-show</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>

  <div *ngIf="song">
    <h1>{{ song.title }}</h1>
    {{ song | json }}
  </div>
</ion-content>
