<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/musicas/favoritas']" color="primary">Favoritas</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" (click)="goSearch()" placeholder="Buscar música"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="pt-4">
  <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
  <ion-list>
    <ion-list-header mode="ios">
      <ion-label *ngIf="songs">Músicas fixadas</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let song of songs">
      <ion-item lines="none" [routerLink]="['/musicas', song.number]">
        <div class="song-number">{{ song.number }}.</div>
        <ion-label>
          <h4>{{ song.title }}</h4>
          <p>{{ song.resume }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header mode="ios">
      <ion-label *ngIf="categories">Categorias</ion-label>
    </ion-list-header>
    <ion-card *ngFor="let category of categories" class="bordered-card">
      <ion-item lines="none" [routerLink]="['/musicas/categorias', category.id]">
        <ion-label>
          <h4>{{ category.name }}</h4>
          <p>{{ category.songs_count }} músicas</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>
