<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/musicas/favoritas']" color="primary">Favoritas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Músicas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li>• Favoritas</li>
    <li>• Busca</li>
  </ul>

  <div>
    <h3 class="font-semibold ion-padding">Destacadas</h3>
    <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
    <ion-list *ngIf="songs">
      <ion-item *ngFor="let song of songs" [routerLink]="['/musicas', song.number]">
        <div class="w-10 text-md font-semibold">{{ song.number }}</div>
        <ion-label>
          <h2>{{ song.title }}</h2>
          <p>{{ song.resume }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <h3 class="font-semibold ion-padding">Categorias</h3>
    <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>

    <ion-list *ngIf="categories">
      <ion-item *ngFor="let category of categories" [routerLink]="['/musicas/categorias', category.id]">
        <ion-label>
          <h2>{{ category.name }}</h2>
          <p>{{ category.songs_count }} músicas</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
