<ion-header mode="ios" collapse="fade" [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/eventos"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="event && event.is_presentation" [routerLink]="['/eventos', event.id, 'musicas']"
        color="tertiary">Músicas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
  <div *ngIf="event">
    <h1 class="font-semibold">{{ event.title }}</h1>
    <h6><ion-icon src="../../../assets/icon/calendar.svg" class="mr-2"></ion-icon>{{ event.date | date: 'd MMM Y' }}, {{
      event.time }}</h6>
    <h6 color="light"> <ion-icon src="../../../assets/icon/marker.svg" class="mr-1"></ion-icon> {{ event.local }}</h6>
    <h4>Descrição</h4>
    <p>{{ event.description }}</p>
  </div>

  <ion-button *ngIf="event && event.is_presentation" expand="block" [routerLink]="['/eventos', event.id, 'musicas']">Músicas</ion-button>
</ion-content>

<ion-footer>
  <ion-card *ngIf="event && event.is_member && showQuestion" color="light" class="m-0">
    <ion-card-content>
      <h2 class="text-center">Você vai participar deste evento?</h2>
      <ion-row>
        <ion-col [size]="event.answer ? '4' : '6'">
          <ion-button (click)="sendAnswer('Sim')" expand="block" color="success">Sim</ion-button>
        </ion-col>
        <ion-col [size]="event.answer ? '4' : '6'">
          <ion-button (click)="sendAnswer('Não')" expand="block" color="danger" fill="outline">Não</ion-button>
        </ion-col>
        <ion-col *ngIf="event.answer" [size]="event.answer ? '4' : '6'">
          <ion-button (click)="displayQuestion(false)" expand="block" color="dark" fill="outline">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="event && event.is_member && !showQuestion" color="light" class="m-0">
    <ion-card-content>
      <div class="flex items-center gap-4">
        <div class="grow">
          <h2>
            Você respondeu que <span *ngIf="event.answer === 'Não'"
              class="font-semibold text-red-900 dark:text-[#ffc409]">não</span> vai
            participar deste evento.
          </h2>
        </div>
        <div class="grow p-0">
          <ion-button (click)="displayQuestion(true)" fill="clear" color="tertiary">
            Alterar
          </ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-footer>
