<ion-content>
  <div class="loading" *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
  <h2 class="mx-4 mt-8 mb-6 font-semibold">Eventos</h2>

  <ion-card *ngFor="let event of events" class="bordered-card">
    <ion-item lines="none" class="-ml-4" [routerLink]="['/eventos', event.id]">
      <div class="event-date">
        <div class="event-day">{{ event.date | date: 'dd' }}</div>
        <div class="event-month">{{ (event.date | date: 'MMM')?.replace('.','') }}</div>
      </div>
      <ion-label>
        <h4>{{ event.title }}</h4>
        <p *ngIf="event.local">{{ event.local }}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
