<ion-progress-bar *ngIf="buffering" type="indeterminate"></ion-progress-bar>
<ion-toolbar class="p-4" id="player" color="light">

  <div class="w-full flex items-center gap-4">
    <div class="w-8 text-center">
      <ion-text class="text-sm">{{ currSecsText ?? '0:00'}}</ion-text>
    </div>
    <div class="grow">
      <!-- <ion-range aria-label="Range"></ion-range> -->
      <input type="range" #range (input)="durationSlider(range.value)" [(ngModel)]="currRangeTime" min="0"
        max="{{ maxRangeValue }}" [disabled]="!ready" class="range">
    </div>
    <div class="w-8 text-center">
      <ion-text class="text-sm">{{ durationText ?? '0:00'}}</ion-text>
    </div>
  </div>

  <div class="w-full pb-2 flex justify-center items-center gap-4">
    <ion-button (click)="back()" *ngIf="ready" fill="clear">
      <!-- <ion-icon slot="icon-only" color="dark" src="../../../assets/icon/back-10.svg"></ion-icon> -->
      <ion-icon slot="icon-only" color="dark" name="play-back"></ion-icon>
    </ion-button>
    <ion-button (click)="play()" fill="clear" *ngIf="!isPlaying">
      <ion-icon name="play" size="large"></ion-icon>
    </ion-button>
    <ion-button (click)="pause()" fill="clear" *ngIf="isPlaying">
      <ion-icon name="pause" size="large"></ion-icon>
    </ion-button>
    <ion-button (click)="forward()" *ngIf="ready" fill="clear">
      <!-- <ion-icon slot="icon-only" color="dark" src="../../../assets/icon/forward-10.svg"></ion-icon> -->
      <ion-icon slot="icon-only" color="dark" name="play-forward"></ion-icon>
    </ion-button>
  </div>
</ion-toolbar>

<!-- <ion-range *ngIf="ready" #range (input)="durationSlider(range.value)" (touchmove)="touchMove()" (touchend)="touchEnd()"
      (touchstart)="touchStart()" max="{{maxRangeValue}}" [(ngModel)]="currRangeTime" aria-label="Range">
    </ion-range> -->
<!-- <ion-range *ngIf="!ready" disabled aria-label="Range"></ion-range> -->
