ion-header {
  // ion-toolbar {
  //     --background: rgb(128,15,125,1);
  //     --background: linear-gradient(90deg, rgba(128,15,125,1) 0%, rgba(121,9,176,1) 100%);
  //     ion-title, ion-buttons {
  //         color: var(--ion-color-light);
  //         font-weight: 400;
  //     }
  // }
}
// .radius {
//   min-height: 18px;
//   width: 100%;
//   background: #FFF;
//   border-radius: 18px 18px 0 0;
// }
// ion-content {
//   --padding-top: 0 !important;
// }
// ion-list {
//   padding-top: 0 !important;
// }
// ion-item {
//   span {
//       width: 28px;
//       margin-right: 8px;
//       text-align: right;
//       font-size: small;
//       height: 100%;
//       font-weight: bold;
//       padding-top: 17px;
//   }
// }

ion-list-header {
  ion-label {
    margin-top: 0
  }
}
ion-item {
  ion-label {
    h2, h3, h4 {
      font-weight: 500 !important;
    }
  }
}

div.song-number {
  @apply w-10 py-1.5  font-semibold;
}

ion-card.bordered-card {
  @apply border-l-4 border-[var(--ion-color-primary)];
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-spinner {
      width: 40px;
      height: 40px;
      color: var(--ion-color-medium);
  }
}
.empty {
  height: 80%;
  text-align: center;
  @apply w-9/12 mx-auto flex flex-col justify-center space-y-8 items-center;
  h4 {
      font-weight: 600;
  }
}
