<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Alterar senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()" [formGroup]="passwordForm">
    <ion-input type="password" class="my-2" formControlName="current" label="Senha atual" label-placement="floating"
      fill="outline" placeholder="Informe sua senha atual"></ion-input>
    <div
      *ngIf="passwordForm.controls['current'].invalid && (passwordForm.controls['current'].dirty || passwordForm.controls['current'].touched)"
      class="validator_error">
      <p *ngIf="passwordForm.controls['current'].errors?.['required']">Este campo é obrigatório.</p>
      <p *ngIf="passwordForm.controls['current'].errors?.['minlength']">A senha precisa ter pelo menos 6 caracteres</p>
    </div>
    <ion-input type="password" class="my-2" formControlName="new" label="Nova senha" label-placement="floating"
      fill="outline" placeholder="Digite uma nova senha"></ion-input>
    <div
      *ngIf="passwordForm.controls['new'].invalid && (passwordForm.controls['new'].dirty || passwordForm.controls['new'].touched)"
      class="validator_error">
      <p *ngIf="passwordForm.controls['new'].errors?.['required']">Este campo é obrigatório.</p>
      <p *ngIf="passwordForm.controls['new'].errors?.['minlength']">A senha precisa ter pelo menos 6 caracteres</p>
    </div>
    <ion-input type="password" class="my-2" formControlName="confirm" label="Confirmação" label-placement="floating"
      fill="outline" placeholder="Confirme a nova senha"></ion-input>
    <div
      *ngIf="passwordForm.controls['confirm'].invalid && (passwordForm.controls['confirm'].dirty || passwordForm.controls['confirm'].touched)"
      class="validator_error">
      <p *ngIf="passwordForm.controls['confirm'].errors?.['required']">Este campo é obrigatório.</p>
      <p *ngIf="passwordForm.controls['confirm'].errors?.['minlength']">A senha precisa ter pelo menos 6 caracteres</p>
    </div>
    <ion-button type="submit" expand="block" [disabled]="saving" class="h-6">
      {{ saving ? 'Salvando...' : 'Salvar' }}
    </ion-button>
  </form>
</ion-content>
