<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/musicas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios" #searchbar placeholder="Buscar música" [debounce]="500" (ionChange)="handleChange($event)"
      (ionClear)="clearSearch()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loading" *ngIf="searching"><ion-spinner name="dots"></ion-spinner></div>
  <p *ngIf="searched && songs && !searching" class="px-4">Sua busca retornou {{ songs.length }} resultado(s)</p>
  <ion-list *ngIf="searched && songs">
    <ion-card *ngFor="let song of songs">
      <ion-item lines="none" [routerLink]="['/musicas', song.number]">
        <div class="w-10 text-md font-semibold">{{ song.number }}</div>
        <ion-label>
          <h4>{{ song.title }}</h4>
          <p>{{ song.resume }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <div *ngIf="!searched" class="loading text-center ion-padding">
    Para buscar por uma música específica, digite um trecho da letra.<br>
    É necessário digitar no mínimo 3 palavras.
  </div>
</ion-content>
