<ion-content class="ion-padding">
  <div class="min-h-full flex flex-col space-y-4">
    <div class="grow">
      <!-- <h2>Redes sociais</h2>
      <ion-item (click)="openFacebook()" lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="logo-facebook" class="mr-4 text-blue-600"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-item>
      <ion-item (click)="openInstagram()" lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="logo-instagram" class="mr-4 text-purple-700"></ion-icon>
        <ion-label>Instagram</ion-label>
      </ion-item>
      <ion-item (click)="openYoutube()" lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="logo-youtube" class="mr-4 text-red-600"></ion-icon>
        <ion-label>Youtube</ion-label>
      </ion-item> -->
    </div>
    <ion-button (click)="logout()" expand="block" fill="outline" shape="round">
      Sair do aplicativo
    </ion-button>
  </div>
</ion-content>
