// ion-header {
//   ion-toolbar {
//     --background: var(--ion-background-color)
//   }
// }
.home-card {
  margin: 16px 12px;
  height: 78px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  font-size: 14px;
  color: var(--ion-color-primary);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  .label {
      padding-left: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
          margin: 0;
          padding: 0;
          font-size: 20px;
          font-weight: 600;
      }
      small {
          font-size: 16px;
          margin-bottom: 8px;
      }
  }
  .icon {
      width: 82px;
      border-radius: 6px 0 0 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-icon {
          font-size: 42px;
      }
  }
}

.detached-card {
  @apply mx-0 mt-4 border-t-4 border-[#6C147B];
  ion-card-header {
    @apply bg-[#6C147B] bg-gradient-to-br from-[#6C147B] to-[#780c6f] text-white;
    background-image: url('../../assets/images/notes-pattern.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right;
  }
}

.birthday-card {
  @apply mx-0 mt-4 border-t-4 border-[#F2C216];
  ion-card-header {
    @apply bg-[#F2C216] bg-gradient-to-br from-[#F2C216] to-[#f3c82d] text-gray-900;
    background-image: url('../../assets/images/birthday-pattern.png');
    background-repeat: no-repeat;
    background-size: 56%;
    background-position: right;
  }
  ion-card-content {
    @apply mt-3 text-base font-semibold;
  }
}
